.page {
    background: #2A2C2F;
    box-sizing: border-box;
    padding: 0 48px 24px;
    font-family: 'Inter', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
    .page {
        padding: 0 24px;;
    }
}

@media screen and (max-width: 540px) {
    .page {
        padding: 0 16px;;
    }
}
