.place__paragraph {
    grid-area: paragraph;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.59;
    margin: 0;
}

.place__paragraph:first-child {
    margin-bottom: 29px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        line-height: 1.6;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
    .place__paragraph:first-child {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.62;
        margin-top: 10px;
    }
    .place__paragraph:first-child {
        margin-bottom: 24px;
    }
}